@import "/src/app/mixins/padding.scss";
@import "/src/app/mixins/responsive.scss";
@import "/src/app/mixins/fonts.scss";

.container {
    @include Padding;
    height: 100vh;
    padding-top: 219px;
    background-image: url("/images/fundoWelcome.svg");
    background-size: cover; //rever
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;

    @include Phone {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        height: 100%;
    }
}

.text {
    h1 {
        @include SizeExtra;
        font-weight: bold;
    }

    p {
        @include SizeNormal;
        opacity: 0.7;
    }
}

.containerImage {
    text-align: end;
    width: 100%;

    @include Phone {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }
}

.image {
    width: 100%;

    @include Phone {
        width: 300px;
        height: 250px;
    }
}